/* css styles */

.center-header {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center; /* centers cards on page */
  flex-wrap: wrap;         /* allows multiple rows */
  gap: 2rem;               /* space between cards */
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-title {
  text-align: center !important;
  margin-bottom: 1rem;
  font-family: 'Helvetica', sans-serif;  /* or any font you like */
  font-weight: 100;                 /* thin font */
}

.card-body {
  text-align: left !important;
  margin: 0rem;
}

.wide-card {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
